extends layout

block content
	.location(style='top: #{top}; left: #{left}')
		img(src='/img/x.png')
		label #{place.toUpperCase()}
		p #{landed}
		h6 #{description}
	if prevPort
		a(href="/voyage/#{prevPort}").prev
			img(src='/img/prevarrow.png')
			p PREVIOUS

	if nextPort
		a(href='/voyage/#{nextPort}').next
			img(src='/img/nextarrow.png')
			p NEXT

	else
		a(href="/voyage/Seville") Go to Beginning